{% extends 'base.html' %}

{% block title %}
    Pizza Party Orders
{% endblock %}

{% block content %}
    <h1>Hello {{user.username|capfirst}} your past orders are below:</h1>

    {% if orders %}
    <div class="d-flex justify-content-center align-items-center full-height">
    <table class="table table-striped" style="max-width:  50rem;">
        <thead>
            <tr>
                <th scope="col">Order No.</th>
                <th scope="col">User</th>
                <th scope="col">Date Ordered</th>
                <th scope="col">Delvery Address</th>
                <th scope="col">Size</th>
                <th scope="col">Base</th>
                <th scope="col">Sauce</th>
                <th scope="col">Cheese</th>
                <th scope="col">Topping(s)</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <th scope="row">{{ order.id }}</th>
                    <td>{{ order.person.username }}</td>
                    <td>{{ order.time_ordered|date:"d-m-y" }}</td>
                    <td>{{ order.payment.address1 }}<br>
                        {{ order.payment.address2 }}
                        {% if order.payment.address3 %}<br>{{  order.payment.address3  }}{% endif %}<br>
                        {{ order.payment.city}}, {{  order.payment.county }}<br>
                        {{ order.payment.country }}
                    </td>
                    <td>{{ order.size.name }}</td>
                    <td>{{ order.base.name }}</td>
                    <td>{{  order.sauce.name  }}</td>
                    <td>{{  order.cheese.name  }}</td>
                    <td>{% for topping in order.toppings.all %}
                            {{ topping.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}</td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    </div>
        {% else %}
            <div class="d-flex justify-content-center align-items-center full-height">
                <div class="card text- center" style="min-width: 30rem; margin-bottom: 2rem;">
                    <div class="card-body">
                        <h4 class="card-title">No previous orders!</h4>
                    </div>
                </div>
            </div>
        {% endif %}

    <div class="d-flex justify-content-center align-items-center full-height">
        <a class="btn btn-danger" type="button" href="{% url 'order' %}">Place Order</a>
    </div>
    {% endblock %}