{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Pizza Party Register
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center full-height">
        <div class="card border-lite" style="min-width: 20rem; margin-top: 2rem; background-color: #93B5C6;">
                <div class="card-body">
                    <h4 class="card-title">Create account now to start your pizza journey</h4>
                    <form method="POST" autocomplete="off">

                        {% csrf_token %}

                        {{registerform|crispy}}
                        <br>
                        <p><input type="submit" class="btn btn-success" value="Create Account"/></p>
                        <p>Already have an account? Sign in <a href="{% url 'my-login' %}">here</a></p>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}